#aboutMe {
    text-align: center;
    color: white;
    margin-top:-5%;
    min-height: 100vh;
    overflow: auto;
    display: block;
}

#aboutSplitContainer {
    width: 100%;
}

#leftHandAbout {
    width: 42.5%;
    height: 100%;
    float: left;
	padding-left: 5%;
	padding-right: 2.5%;
}

#rightHandAbout {
    width: 42.5%;
    height: 100%;
    float: right;
	padding-left: 2.5%;
	padding-right: 5%;
}

#bottomQuote {
    clear: both;
	width: 100%;
	text-align: center;
}
