.pictureOverlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80%;
}

.title_text {
    font-family: "Arial", Helvecta, sans-serif;
    color: white;
    text-align: left;
    /*
     * Note that this padding, and the width below (and any extra padding in the actual IDs)
     * must sum to 100% or there will
     * be bits sticking off the side of the webpage
     */
    padding-right: 2%;
    width: 98%;
}

#hiIm {
    top: -1.2em;
    font-size: 4.8vw;
    position: relative;
}

#name {
    position: relative;
    top: -2.2em;
    font-size: 6.6vw;
}

#job {
	position: relative;
	top: -5.7em;
	font-size: 4.0vw;
}

.backgroundImage {
    margin: auto;
    height: 100%;
    clip: rect(0px, 100vw, 80vh, 0px);
    background-size: cover;
    opacity: 0.4;
}

#titlePictureDiv {
    height:80%;
    overflow:hidden;
    background: #203037;
    padding: 0;
    margin: 0;
}
