html, body {
    padding: 0;
    margin: 0;
    background: #203037;
}

* {
   font-family: "MS Sans Serif", Geneva, sans-serif;
}

.large_buttonLink {
    font-size:  1.5em;
    text-decoration: none;
    height: 100%;
}

.medium_buttonLink {
    font-size: 1.2em;
    text-decoration: none;
}

.small_rounded_corners {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.big_rounded_corners {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

/*
 * These are used to specify various parts of elemets as colors.
 * Note that if you change the name, the  strings in static.Style
 * will have to be changed to reflect this
 */
.gray_background {
    background: #203037;
}

.gray_font {
    color: #203037;
}

.white_background {
    background: white;
}

.white_font {
    color: white;
}

.underline {
	text-decoration: underline;
}

.dark_orange_background {
    background: #994E28;
}

.dark_orange_font {
    color: #AA5F39;
}

.light_orange_background {
    background: #AA5F39;
}

.light_orange_font {
    color: #AA5F39;
}

.green_background {
    background: #506420;
}

.green_font {
    background: #506420;
}


/*
 * Below are some classes for splitting the
 * width of the page up accordingly
 */
.quarters {
    width: 25%;
}

.thirds {
    width: 33.33333%;
}

.half {
    width: 50%;
}

.whole {
    width: 100%;
}

/*
 * Also page wide are a few different standard text size
 */
.xxxlarge_text {
    font-size: 1.9em;
}

.xxlarge_text {
	font-size: 1.6em;
}

.xlarge_text {
    font-size: 1.3em;
}

.large_text {
    font-size: 1em;
}

.medium_text {
    font-size: 0.7em;
}

.small_text {
    font-size: 0.4em;
}

/*
 * And some standard font colors
 */
.white {
    color: white;
}

/*
 * Below the heights of each of the pages
 * is coded in, along with which background
 * color they are going to use (blank
 * implies the page background color, which
 * is at the top of this file
 */
.pageSection {
    min-height: 100vh;
}

#headerSection {
    background: #203037;
    /*
     * This has to have specific height set
     * or the picture expands too much
     */
    height: 100vh;
}

#projectsSection {
    background: #506420;
}

#runningSection {
    background: #203037;
}

#aboutSection {
    background: #506420;
}
