#navigation {
    height: 100%;
}

nav {
}

#home_nav {
    height:100%;
}

.nav_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background:purple;
}

.nav_list > li {
    height: 20vh;
    display: inline;
    text-align: center;
    float: left;
    background: #203037;
}

.nav_list > li:hover {
    background: -webkit-linear-gradient(#203037, #152A32); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#203037, #152A32); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#203037, #152A32); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#203037, #152A32); /* Standard syntax */
}

.homeButtonLink {
    text-align: center;
    display: block;
    position: relative;
    text-decoration: none;
    color: white;
    height: 20vh;
    line-height: 20vh;
}

